<%- include("common/header") %>

<div class="notfound">
  <img src="/images/notfound.gif" alt="notfound" class="nf-img" />
  <h1><b>Are you lost?</b></h1>
  <h2>404 Page Not Found</h2>
</div>

<%- include("common/footer") %>
