/* .razor-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
  height: 150vh;
} */

.notfound {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nf-img {
  height: 300px;
}

.gal-section {
  margin-bottom: 5rem;
}

.camp-img {
  box-shadow: 1px 1px 30px 1px rgba(128, 128, 128, 0.24);
  transition: 0.3s;
  border-radius: 0.5rem;
}

.razor-pay {
  /* position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  border: none; */
  height: 170vh;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .banner-logo {
    width: 100%;
  }
  #who {
    padding: 0 1rem;
  }
  .razor-pay {
    height: 150vh;
  }

  .navbar-toggler {
    display: block;
  }
}

@media screen and (max-height: 600px) {
  .razor-pay {
    height: 250vh;
  }
}

@media screen and (min-width: 800px) {
  .gal-items-camp:hover .camp-img {
    transform: scale(0.95);
    opacity: 90%;
  }

  .gal-items-camp .camp-img:hover {
    transform: scale(1.025) !important;
    box-shadow: 1px 1px 150px 10px rgba(128, 128, 128, 0.164);
    opacity: 100%;
  }
}
