/* .razor-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
  height: 150vh;
} */

.razor-pay {
  /* position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  border: none; */
  height: 150vh;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .banner-logo {
    width: 100%;
  }
  #who {
    padding: 0 1rem;
  }
  .razor-pay {
    height: 150vh;
  }

  .navbar-toggler {
    display: block;
  }
}

@media screen and (max-height: 600px) {
  .razor-pay {
    height: 200vh;
  }
}
