<div class="soc-icons">
  <a
    href="https://www.facebook.com/IndieDogCommuneDelhi/?hc_ref=ARSeQiyoGSHvpfS33EF2-oks0ip82wuaoOankcYpHit-Tbf13b4Y8p39Q5eujdVnHP0&fref=nf"
    class="soc-icon fa soc-icon-fb fa-facebook"
    target="_blank"
  >
  </a>
  <a
    href="https://www.instagram.com/indiedogcommune/"
    class="soc-icon fa soc-icon-in fa-instagram"
    target="_blank"
  ></a>
  <a
    href="https://twitter.com/IndiedogC?s=08"
    class="soc-icon fa soc-icon-tw fa-twitter"
    target="_blank"
  ></a>
</div>
